.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listings {
  border-collapse: collapse; /* collapse the border of the table cells */
  width: 100%;
}

.listings th,
.listings td {
  border: 1px solid black; /* add a border to the table cells */
  padding: 8px; /* add some padding to space out the columns */
  text-align: left;
}

.listings th {
  background-color: #ddd; /* add a background color to the table header */
  font-weight: bold;
}
